<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Offer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3> Add/Edit Offer</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/create}" th:object="${offer}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="title" class="col-form-label">Title</label>
                            <input th:field="*{title}" type="text" class="form-control"
                                   id="title" placeholder="Title" name="Title"/>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="description" class="col-form-label">Description</label>
                            <input type="text" th:field="*{description}" class="form-control"
                                   id="description" placeholder="Description"/>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="price" class="col-form-label">Price</label>
                            <input type="number" step="0.01" min="0" th:field="*{price}" class="form-control"
                                   id="price" placeholder="Name"/>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="phone" class="col-form-label">phone</label>
                            <input type="text" pattern="[0]{1}[8-9]{1}[7-9]{2}[0-9]{6}" th:field="*{phone}"
                                   class="form-control"
                                   id="phone" placeholder="Phone"/>
                        </div>

                        <div class="form-group col-md-8" th:if="${offer.user != null}">
                            <label for="isActive" class="col-form-label">isActive</label>
                            <select name="isActive" id="isActive" th:field="*{active}">
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="user" th:field="*{user}">
                        <input type="hidden" id="id4" th:field="*{id}">
                        <input type="hidden" id="doc" th:if="${offer.dateOfCreation != null}"
                               th:field="*{dateOfCreation}">
                        <input type="hidden" id="dox" th:if="${offer.dateOfExpiry != null}" th:field="*{dateOfExpiry}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>