<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
    <form class="form-signin" method="post" th:action="@{/process_register}" th:object="${user}">
        <h2 class="form-signin-heading">Please sign up</h2>
        <p>
            <label for="email" class="sr-only">Email</label>
            <input th:field="*{email}" type="text" id="email" name="email" class="form-control" placeholder="Email"
                   required autofocus>
        </p>

        <p>
            <label for="username" class="sr-only">Username</label>
            <input th:field="*{username}" type="text" id="username" name="email" class="form-control"
                   placeholder="Username" required autofocus minlength="5" maxlength="20">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input th:field="*{password}" type="password" id="password" name="password" class="form-control"
                   placeholder="Password" required minlength="6" maxlength="25">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <p>Already have account ? <a href="/login">click here</a></p>
    </form>

</div>
</body>
</html>